/* Form para Cadastrar */
form#cadastrar-livro {
    display: grid;
    grid-template-areas:
        'titulo titulo autor autor'
        'paginas pagina-atual url-img url-img'
        'buttons buttons buttons buttons'
    ;
    gap: 25px 15px;
    padding-bottom: 15px;
    border-bottom: 1px #999 dotted;
}

/* Grid areas names */
#container-titulo { grid-area: titulo; }
#container-autor { grid-area: autor; }
#container-paginas { grid-area: paginas; }
#container-pagina-atual { grid-area: pagina-atual; }
#container-url-img { grid-area: url-img; }
#container-buttons { grid-area: buttons; }

.input-group {
    display: block;
    position: relative;
}

input, button {
    width: 100%;
    padding: 15px 15px;
    display: block;
    outline: none;
    border: 1px solid var(--gray-color);
    transition: border 0.4s ease-in-out, background 0.4s ease-in-out;
}

.input-group input:focus{
    border-color: var(--secondary-color);
}
.input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 10px;
    background: #fff;
    pointer-events: none;
    transform: translate(10%, -60%);
    color: var(--secondary-color)
}

form#cadastrar-livro button[type='submit'] {
    background: var(--primary-color);
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 15px;
    font-size: 1rem;
}
form#cadastrar-livro button[type='submit']:hover{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.1); 
}

@media(max-width: 700px) {
    form#cadastrar-livro {
        grid-template-areas:
            'titulo titulo'
            'autor autor'
            'paginas pagina-atual'
            'url-img url-img'
            'buttons buttons'
        ;
    }
}

/* Lista de livros */

#lista-livros.all-infos li {
    display: flex;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 10px;
    position: relative;
    border: 1px transparent solid;
    transition: border 0.3s ease-in-out;
}
#lista-livros.all-infos li:hover{
    border: 1px #999 solid;
}
#lista-livros.all-infos li .autor,
#lista-livros.all-infos li .pages {
    color: var(--gray-color);
}
#lista-livros.all-infos li .pages,
#lista-livros.all-infos li + div{
    margin: 0px 15px;
}
#lista-livros.all-infos li div.progress{
    position: relative;
    height: 20px;
    border: #00c9a7 solid 0.5px;
    width: 250px;
    top:0;
    left: 0;
    margin: 0px 10px;
}
#lista-livros.all-infos li .progress div{
    height: 100%;
    background: #00c9a7;
    width: 70%;
    transition: all 1s;
}

#lista-livros.all-infos li div.edit-remove{
    margin-left: auto;
}
#lista-livros.all-infos li div.edit-remove i {
    margin: 0px 10px;
}
#lista-livros.all-infos i.edit-livro{
    color: var(--primary-color);
}
#lista-livros.all-infos i.remove-livro{
    color: var(--red-color);
}
#lista-livros.all-infos div.edit-remove i:hover{
    text-shadow: #999 2px 2px 5px;
    cursor: pointer;
}