/* Lista de livros */

#lista-livros.all-infos li {
    display: flex;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 10px;
    position: relative;
    border: 1px transparent solid;
    transition: border 0.3s ease-in-out;
    align-items: center;
    background-size: 0%;
}
#lista-livros .title{
	flex-basis: 230px;
	display: flex;
	flex-direction: column;
}
#lista-livros .pages{
	flex-basis: 85px;
}
#lista-livros .title span{
	margin: 4px;
}
#lista-livros.all-infos li:hover{
    border: 1px #999 solid;
}
#lista-livros.all-infos li .autor,
#lista-livros.all-infos li .pages {
    color: var(--gray-color);
}
#lista-livros.all-infos li .pages,
#lista-livros.all-infos li + div{
    margin: 0px 15px;
}
#lista-livros.all-infos li div.progress{
	margin-left: auto;
    position: relative;
    height: 20px;
    border: #00c9a7 solid 0.5px;
    width: 200px;
    top:0;
    left: 0;
}
#lista-livros.all-infos li .progress div{
    height: 100%;
    background: #00c9a7;
    /* width: 70% */
    transition: all 1s;
}

#lista-livros.all-infos li div.edit-remove{
    margin-left: auto;
}
#lista-livros.all-infos li div.edit-remove i {
    margin: 0px 10px;
}
#lista-livros.all-infos i.edit-livro{
    color: var(--primary-color);
}
#lista-livros.all-infos i.remove-livro{
    color: var(--red-color);
}
#lista-livros.all-infos div.edit-remove i:hover{
    text-shadow: #999 2px 2px 5px;
    cursor: pointer;
}

/* Change View div */
div#view {
	display: flex;;
	justify-content: flex-end;
	width: 100%;
	margin: 10px;
}
div#view button#btn-view {
	display: inline-block;
	width: auto;
	margin: 0px 15px;
	border: none;
	background: var(--secondary-color);
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
	transtion: all 0.4s ease-in-out;
}
div#view button#btn-view:hover{
	opacity: 0.9;
}

/* show-cover viewer */
#lista-livros.all-infos.show-cover{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
	justify-items: center;
}

#lista-livros.all-infos.show-cover  li{
  padding: 0px;
  height: 300px;
  max-width: 250px;
  min-width: 200px;
  border: solid 1px #999;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-shadow: #333 2px 2px 2px;
  animation: show 1s;
  transition: box-shadow 0.5s ease-in-out;
}
@keyframes show{
	from{transform: scale(0);}
	to{transform: scale(1);}
}
#lista-livros.all-infos.show-cover li > div{
  margin: 0px;
  width: 100%;
  padding: 5px;
  flex-basis: auto;
}
#lista-livros.all-infos.show-cover li  div.progress {
  padding: 0;
  margin: 0;
  height: 7px;
  width: 100%;
  background: #fff;
}

#lista-livros.all-infos.show-cover li .title{
  background: rgba(0, 0, 0, 0.7);
}
#lista-livros.all-infos.show-cover li .title .titulo {
  font-size: 1rem;
}
#lista-livros.all-infos.show-cover li .autor{
  color: #fff;
  font-size: 0.7rem;
}

#lista-livros.all-infos.show-cover li .pages{
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
}

#lista-livros.all-infos.show-cover li .edit-remove{
  text-align: center;
  background: #fff;
}
#lista-livros.all-infos.show-cover li .edit-remove i{
  text-shadow: none;
}
#lista-livros.all-infos.show-cover li .edit-remove i:hover{
  opacity: 0.8;
}
#lista-livros.all-infos.show-cover li .title span{
  display: block;
  margin: 2px;
}

